:root {
    /* ### Primary */

    --color-primary-orange: hsl(31, 77%, 52%);
    --color-primary-darkcyan: hsl(184, 100%, 22%);
    --color-primary-darkercyan: hsl(179, 100%, 13%);
    --background: rgba(85, 214, 170, .65);

    /* ### Neutral */

    --color-neutral-white: hsla(0, 0%, 100%, 0.75);
    --color-neutral-gray: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 2em;
}


.nav-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 3em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top:100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #444;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: flex;
    padding: 5rem;
}



.box1 {
    width: 300px;
    height: 450px;
    background-color: var(--color-primary-orange);
    border-radius: 1rem 0 0 1rem ;
}

.box2 {
    width: 300px;
    height: 450px;
    background-color: var(--color-primary-darkcyan);
}

.box3 {
    width: 300px;
    height: 450px;
    background-color: var(--color-primary-darkercyan);
    border-radius: 0 1rem 1rem 0;
}

.icon {
    margin: 4rem 4rem 3rem 4rem ;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 0.5;
    font-family: 'big shoulders display', cursive;
    font-size: 1.75rem;
    color: var(--color-neutral-gray);
    margin: 0 0 2.25rem 4rem;
}

.textbody {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.35rem;
    color: var(--color-neutral-white);
    margin: 0 7rem 4rem 4rem;
    line-height: 2.25rem;
}

.button {
    font-family: 'lexend deca', sans-serif;
    letter-spacing: 1.25;
    background-color: var(--color-neutral-gray);
    border: none;
    padding: 1.25rem 2.5rem;
    border-radius: 6rem;
    margin: 4rem;
}

.button:hover {
    color: var(--color-neutral-gray);
    border: var(--color-neutral-gray) solid 2px;

}

.button1 {
    color: var(--color-primary-orange);
}

.button2 {
    color: var(--color-primary-darkcyan);
}

.button3 {
    color: var(--color-primary-darkercyan);
}

.button1:hover {
    background-color: var(--color-primary-orange);
}

.button2:hover {
    background-color: var(--color-primary-darkcyan);
}

.button3:hover {
    background-color: var(--color-primary-darkercyan);
}

@media (max-width: 1050px){
    .boxes {
        flex-direction: column;
    }
    .container {
        align-items: flex-start;
    }

    .box1 {
        border-radius: 1rem 1rem 0 0;
    }

    .box3 {
        border-radius: 0 0 1rem 1rem;
    }
}